.sidebar {
    border-right: 1px solid #dcdcdc;
    background: #fff !important;
    height: 100vh;

    .sidebar-menu {
        height: auto !important;

        li {
            font-size: 15px;
            font-weight: 500;
            margin-bottom: 16px !important;
            margin-block: 12px !important;

            .ant-menu-title-content {
                margin-left: 16px;
            }
        }

        svg {
            font-size: 22px;
        }
    }
}