.newsfeed {
    max-width: 470px;
    margin: 0 auto;

    .newsfeed-post {
        padding: 12px 0;
        margin-bottom: 12px;
        border-bottom: 1px solid #dcdcdc;

        .post-header {
            padding: 4px 0;
            border: none;
        }

        .post-reaction {
            padding-left: 0;
            padding-right: 0;
            border: none;
        }

        .post-caption {
            span {
                font-weight: 600;
                margin-right: 4px;
            }
        }

        .post-viewer {
            padding: 8px 0;
            color: #777;
            cursor: pointer;
        }
    }
}