.post-header {
    border-bottom: 1px solid #dcdcdc;
    padding: 16px;

    .author {
        display: flex;
        justify-content: space-between;
        margin-bottom: 4px;

        &__left {
            display: flex;
            align-items: center;
            flex: 0 0 auto;
            width: 80%;

            h5 {
                margin: 0;
            }

            button {
                font-weight: 600;
            }

            .author-desc {
                display: flex;
                align-items: center;
            }

            .author-avatar {
                margin-right: 12px;
            }

            .dot {
                margin: 0 12px;
            }

            .author-name {
                color: #777;
            }
        }


    }
}