.post-detail {


    .ant-modal-content {
        padding: 0;
    }

    img {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
    }

    h5 {
        font-size: 14px;
    }

    .detail {
        display: flex;
        flex-direction: column;
        height: 787.5px;

        &__comments {
            padding: 16px;
            flex-grow: 1;
            overflow-y: auto;

            .comment {
                margin-bottom: 12px;
                display: flex;

                .comment-avatar {
                    margin-right: 12px;
                }

                .comment-content {
                    width: 100%;
                }
                
                .content {
                    margin: 0;

                    span {
                        margin-right: 6px;
                        font-weight: 600;
                    }
                }

                .counter {
                    margin-top: 8px;
                    margin-bottom: 0;

                    span {
                        color: #777;
                        font-weight: 600;
                        font-size: 13px;
                        margin-right: 16px;
                    }
                }
            }
        }

        &__footer {
            border-top: 1px solid #dcdcdc;

            .comment-box {
                padding: 12px 16px;

                input {
                    border: none;
                    outline: none;

                    &:focus {
                        border: none;
                        box-shadow: none;
                    }
                }

                button {
                    background-color: transparent;
                    font-size: 20px;
                    padding: 2.25px 0;
                    width: 100%;
                }

                .icon {
                    text-align: left;
                }

                .send {
                    text-align: right;
                }
            }
        }
    }
}